<!DOCTYPE html>
<html>
  <head>
    <title>Newspaper Divisions</title>
  </head>
  <body>
    <div class='col-md-12'>
      <div ng-show='divisions.length'>
        <h3>Division Roster</h3>
        <ul>
          <li ng-repeat="item in divisions | orderBy:'divisionName':true">
            <p><a ui-sref ='divisions.reporters({divisionId: item.id})'>{{item.name}}</a></p>
              <!-- <a ui-sref='divisions.reporters({divisionId: item.id})'>{{item.name}}</a> -->
          </li>
        </ul>
      </div>
    </div>
    <div class='col-md-12'>

        <form ng-submit="DivisionsFactory.addDivision()" class='form-inline' role='form'>
          <div class='form-group'>
            <h4>Create a division </h4>
            <input type='text' ng-model='DivisionsFactory.divisionName' class='form-control'>
          </div>
          <button type='submit' class='btn btn-default'>Submit</button>
        </form>
    </div>
    <div ui-view></div>
  </body>
</html>
