<!DOCTYPE html>
<html>
  <head>
    <title>Newspaper Divisions</title>
  </head>
  <body>

    <div>
      <form class='form-inline' role='form'>
        <div class='form-group'>
          <h4> Search Divisions </h4>
          <input ng-model='query' type='text' class='form-control' value=' ' autofocus>
        </div>
      </form>
    </div>

    <br>

    <div class='col-md-12'>
        <h3 ng-show='divisions.length'>Division Roster</h3>
        <h3 ng-show='!divisions.length'>No Divisions Have been created yet.</h3>
        <ul>
          <!-- <li ng-repeat="item in divisions | orderBy:'divisionName':true"> -->
          <li ng-repeat="item in divisions | filter:{ name:query }">
            <p><a ui-sref ='divisions.reporters({divisionId: item.id})'>{{item.name}}</a></p>
          </li>
        </ul>
    </div>

    <div class='col-md-12'>
      <form ng-submit="DivisionsFactory.addDivision()" class='form-inline' role='form'>
        <div class='form-group'>
          <h4>Create a Division </h4>
          <input type='text' ng-model='DivisionsFactory.divisionName' class='form-control'>
          <button type='submit' class='btn btn-default'>Submit</button>
        </div>
      </form>
    </div>
    <div ui-view></div>
  </body>
</html>
